@font-face {
  font-family: IRANYekanXVF;
  src: local('IRANYekanXVF.woff'),
  url('./fonts/IRANYekanXVF.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: iranyekanwebregular;
  src: local('iranyekanwebregular.woff'),
  url('./fonts/iranyekanwebregular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "iranyekanwebregular", sans-serif;

}
body {
  margin: 0;
  font-family: "iranyekanwebregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}