@font-face {
  font-family: IRANYekanXVF;
  src: local('IRANYekanXVF.woff'),
  url('./fonts/IRANYekanXVF.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: iranyekanwebregular;
  src: local('iranyekanwebregular.woff'),
  url('./fonts/iranyekanwebregular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "iranyekanwebregular", sans-serif !important;

}
body {
  margin: 0;
  font-family: "iranyekanwebregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.react-ios-time-picker-container {
  background-color: #fdfdfd !important;
}
.react-ios-time-picker-btn-container {
  background-color: #fff !important;
}
.react-ios-time-picker-selected-overlay{
  background-color: #fff !important;
}
.react-ios-time-picker-cell-inner-selected{
  color: red !important;
}
.react-ios-time-picker-colon{
  color: #6a6a6b !important;
}